﻿@model IEnumerable<ClubRutaCFinal.Models.Historia>

<h2>HISTORIA</h2>
<p>
    Qué es la Liga? <br />
    La Liga de Atletismo de Antioquia es una organización sin ánimo de lucro,constituida por los clubes de atletismo de Antioquia. Es la encargada <br />
    de promover y masificar el deporte base a nivel departamental, apoyando los desarrollos deportivos de alto rendimiento. Así mismo, es la <br />
    entidad que avala los eventos (carreras y caminatas) de calle en el departamento. Del mismo modo, opera eventos de calle y de pista garantizando<br />
    un alto nivel técnico.<br />
    <br />
    Cuando nació?<br />
    Sus orígenes datan desde el año 1935, cuando se creó con el nombre de Liga de Atletismo, Natación y Boxeo de Antioquia. En 1939 se separan <br />
    dichas ligas y se instaura el nombre con que se conoce en la actualidad “Liga de Atletismo de Antioquia”.<br />
    Sólo  a partir del 15 de Junio de 1976 logra su reconocimiento legal ante Indeportes Antioquia el cual está vigente en la actualidad, <br />
    quedando liderada por un comité ejecutivo.
    <br />

    Comité ejecutivo<br /><br />

    Presidente: Luis Alfonso Lorduy<br />
    Vicepresidente:  Hernán Atehortúa<br />
    Tesorero: Álvaro Taborda<br />
    Secretaria:  Melissa Ramirez<br />
    Vocal: Jorge Mena <br />

</p>

<p>

    <h1>Atletas Marcando la Historia en el Departamento</h1>

</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prueba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prueba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
       
    </tr>
}

</table>
