﻿@{
    ViewBag.Title = "Cantactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Club Deportivo Ruta "C"<br />
    cra. 20 # 20 - 03<br />
    Barrio Acolsure <br />
    <abbr title="Phone">Telefono:</abbr>
    (310)803-1907
    (313)239-6457

     
</address>

<address>
    <strong>Correo:</strong>   <a href="mailto:franklin.2101@hotmail.com">franklin.2101@hotmail.com</a><br />
    <strong>Club:</strong> <a href="mailto:club-rutacC@gmail.com">club-rutacC@gmail.com</a>
</address>