﻿@{
    ViewBag.Title = "";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="uno-slide" src="~/imagenes/atleta.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    <p>@Html.ActionLink("¡¡Iniciar sesión!!", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-lg btn-primary" })</p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="dos-slide" src="~/imagenes/mmb2016.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>

                    <p><a class="btn btn-lg btn-primary" href="http://www.mediamaratonbogota.com" role="button">¡¡Mas Información!!</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="tres-slide" src="~/imagenes/rio2016.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1></h1>
                    <p></p>
                    <p><a class="btn btn-lg btn-primary" href="http://www.rio2016.com/es" role="button">¡¡Mas Información!!</a></p>
                </div>
            </div>
        </div>

        <div class="item">
            <img class="cuatro-slide" src="~/imagenes/atletismo.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Gran Prix Sur Colombiano de Atletismo</h1>
                    <p>
                        Fecha: 11 y 12 de Octubre del 2015
                        Inscribete ya
                        realizado en el estadio de Florencia-Caqueta
                    </p>
                    <p>@Html.ActionLink("¡¡INSCRIPCIÓN!!", "Index", "Inscripcions", null, htmlAttributes: new { @class = "btn btn-lg btn-primary" })

                </div>
            </div>
        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" src="~/imagenes/corredores.jpg" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->

<div class="row">
    <div class="col-md-4">
        <img src="~/imagenes/calendario.gif" alt="Generic placeholder image" width="140" height="140">
        <h2>CALENDARIO</h2>
        <p>allí encontrará la información actualizada de todos los eventos locales, nacionales e internacionales.</p>
        <p>@Html.ActionLink("¡¡Detalles!!", "RegistrarCalendario", "Calendarios", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <img src="~/imagenes/news.png" alt="Generic placeholder image" width="140" height="140">
        <h2>NOTICIAS</h2>
        <p>Las ultimas noticias del atletismo Regional y Nacional</p>
        <p>@Html.ActionLink("¡¡Detalles!!", "Noticias", "Home", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <img src="~/imagenes/multimedia.png" alt="Generic placeholder image" width="140" height="140">
        <h2>MULTIMEDIA</h2>
        <p>En esta sección encontraras las imagenes y videos de los eventos Regionales y de nuestros atletas.</p>
        <p>@Html.ActionLink("¡¡Detalles!!", "Multimedia", "Home", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>