﻿@{
    ViewBag.Title = "Multi";
}

<h1>Eventos Del Club</h1>

<p>Gran Prix Sur Colombiano de Atletismo 2014 <br /></p>
<div class="row">
    <div class="col-md-4">
        <img src="~/imagenes/granprix1.jpg" width="350" height="250">
    </div>

    <div class="col-md-4">
        <img src="~/imagenes/granprix2.jpg" width="350" height="250">

    </div>

    <div class="col-md-4">
        <img src="~/imagenes/granprix3.jpg" width="350" height="250">
    </div>
    <div><br /></div>
    <div class="col-md-4">
        <img src="~/imagenes/granprix4.jpg" width="350" height="250">
    </div>
    <div class="col-md-4">
        <img src="~/imagenes/granprix5.jpg" width="350" height="250">

    </div>
    <div class="col-md-4">
        <img src="~/imagenes/granprix6.jpg" width="350" height="250">
    </div>
    <br />


</div>