﻿@{
    ViewBag.Title = "";
}

<!-- START THE FEATURETTES -->
<h1>Noticias</h1>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">  Caterine Ibargüen completó el objetivo nacional en Toronto: 25 oros</h2>
        <p class="lead">La antioqueña Caterine Ibargüen cumplió este martes con los pronósticos de medalla de oro en el salto triple del atletismo de los XVII Juegos Panamericanos Toronto 2015 y llevó a la delegación nacional a cumplir el gran objetivo de las justas: superar los 24 oros logrados en Guadalajara-2011, y son 25 en Canadá.

</p>
   
      

        
     </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/imagenes/cate.png" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">ANTIOQUEÑOS Y COLOMBIANOS A JUEGOS PANAMERICANOS TORONTO 2015</h2>
       
         <p class="lead">Esta es la lista final para Toronto 2015,  la Liga de Atletismo felicita a los atletas seleccionados. </p>
    </div>
    <div class="col-md-5 col-md-pull-7">
        <img class="featurette-image img-responsive center-block" src="~/imagenes/T.png" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Rafith se metió a los Olímpicos y Muriel Coneo hizo récord nacional en el Prix de Ponce</h2>
        <p class="lead">El antioqueño Rafith Rodríguez hizo la marca mínima para los Juegos Olímpicos de Rio 2016 y Muriel Coneo, tuvo una actuación histórica en el Grand Prix de Ponce, uno de los más importantes de América y que se llevó a cabo el pasado 23 de Mayo.
</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/imagenes/rafi.png" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->