﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NOSOTROS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Mision y Vision", "Index", "Paginas")</li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Club</li>
                    <li>@Html.ActionLink("Historia", "Index", "Historias")</li>
                    <li> @Html.ActionLink("Socios", "Index", "Socios")</li>

                </ul>
            </li>
            <li>@Html.ActionLink("Atletas", "Index", "Ficha_Atleta")</li>
            <li>@Html.ActionLink("Marcas", "Index", "Marcas")</li>
            <li>@Html.ActionLink("Calendario", "Index", "Calendarios")</li>
            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li></li>
            <li>@Html.ActionLink("Registrar User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>
                @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    </div>
    }
}
else
{
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">NOSOTROS <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Mision", "Mision", "Paginas")</li>
                    <li>@Html.ActionLink("Vision", "Vision", "Paginas")</li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Club</li>
                     <li>@Html.ActionLink("Historia", "HistoriaDetalle", "Historias")</li>
                    <li> @Html.ActionLink("Socios", "DetalleSocio", "Socios")</li>

                </ul>
            </li>
            <li>@Html.ActionLink("Atletas", "Atletas_detalles", "Ficha_Atleta")</li>
            <li>@Html.ActionLink("Marcas", "DetalleMarcas", "Marcas")</li>
            <li>@Html.ActionLink("Calendario", "RegistrarCalendario", "Calendarios")</li>
            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
           
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>

        </div>
        }
