﻿@model IEnumerable<ClubRutaCFinal.Models.Pagina>

<h1>Misión</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mision)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mision)
        </td>
    
    </tr>
}

</table>
