﻿body {
    padding-top: 0px;
    padding-bottom: 0px;
    background:rgba(241, 251, 152, 0.71);
    font-family: "Comic Sans MS", "Times", serif;

}

#bge{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.6;
}

#fecha_nacimiento {

        margin-left: -600px;
      
}


.titulo {
                font-family: "Comic Sans MS", "Times", serif;
                font-size: 3.5em;
                padding-top: 17px;
                text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;         
 color:  forestgreen;;
                  }
#dvWrapInset {
                 height: 70px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
    opacity: 14.5;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel base class */
.carousel {
  top:  30px;
  height: 500px;
  margin-bottom: 100px;
       margin-right: -100px;
    margin-left: -100px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0px;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.navbar-wrapper {
  position: absolute;
  top: 118px;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

#mensaje {
       width: 247px;
       height: 141px;
}

.caja {
 width: 200px;
 margin: 0 auto;
}